<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ItemExchange</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/items">Mercadorias</a></li>
      <li><a href="/operations">Operações</a></li>
    </ul>
  </div>
</nav>
