<html>
  <% include partials/page_header %>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="page-header">
      <%= title %>
    </div>
    <div class="row">
      <p>Selecione a seção no menu no topo da tela. Em <em>Mercadorias</em>, pode-se cadastrar, editar e excluir Mercadorias, e visualizar as Mercadorias cadastradas.</p>
      <p>Em <em>Operações</em>, temos as mercadorias listadas por tipo de operação.</p>
    </div>
  </div>
</body>
<% include partials/page_footer %>
</html>
