<html>
  <% include partials/page_header %>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="page-header">
      Instruções
    </div>
    <div class="row">
      <p>Aqui vão rolar as instruções de uso do app.</p>
    </div>
  </div>
</body>
<% include partials/page_footer %>
</html>
