<html>
<% include partials/page_header %>
<body>
  <% include partials/navbar %>
  <div class="container">
    <div class="page-header">
      Mercadorias
    </div>
    <div class="row">
      
    </div>
  </div>
</body>
<% include partials/page_footer %>
</html>
g
