html, body{
  margin-top: 45px;
}
.btn-table {
  padding: 4px !important;
  padding-bottom: 5px !important;
}
.table-buttons {
  text-align: right;
}
table tbody td {
  vertical-align: middle !important;
  font-size: 12px !important;
}
